@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* ===== Custom Scrollbar (WebKit) ===== */

::-webkit-scrollbar {
    width: 5px;
    height: 100vh;
    background-color: #364153;
}
::-webkit-scrollbar-thumb {
    background-color: #125398;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #364153;
}

::-webkit-scrollbar-track-piece {
    background-color: #364153;
}
